source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.1, netcoreapp3.1

nuget FSharp.Core
nuget Expecto
nuget FParsec
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.Azure.Cosmos.Table
nuget Newtonsoft.Json
nuget Ply