strategy: min
source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.1, net5.0

nuget Azure.Data.Tables
nuget Expecto
nuget LiteDB
nuget Microsoft.Azure.Cosmos.Table
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.Hosting
nuget FParsec
nuget Newtonsoft.Json
nuget Ply